main {
  background-image: url('../assets/pokemon-battle-arena.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vs {
  position: absolute;
  transform: translate(-50%, -50%);
}