img {
  max-height: 6rem;
}
.sticky {
  position: sticky;
  top: 3px;
  z-index: 100;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #36d1dc 0%,
    #5b86e5 51%,
    #36d1dc 100%
  );
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: none;
  white-space: nowrap;
}

.btn-grad[disabled] {
  background: rgb(89, 129, 156);
}

.btn-grad:hover {
  background-position: right center;
}

.btn-outline-danger {
  background-color: #f09819;
}
