<div class="container sticky">
  <div class="card text-white bg-dark">
    <div class="card-body row align-items-center">
      <div class="col">
        <div *ngIf="poke1">
          <img [src]="poke1.imgUrl" [alt]="poke1.name" />
          <button
            (click)="removePokemon.emit(poke1)"
            class="btn btn-outline-danger"
          >
            <img src="../../../../assets/trash.svg" alt="delete" />
          </button>
        </div>
      </div>
      <div class="col">
        <div *ngIf="poke2">
          <img [src]="poke2.imgUrl" [alt]="poke2.name" />
          <button
            (click)="removePokemon.emit(poke1)"
            class="btn btn-outline-danger"
          >
            <img src="../../../../assets/trash.svg" alt="delete" />
          </button>
        </div>
      </div>
      <div class="col">
        <button
          (click)="gotoBattle()"
          [disabled]="!poke1 || !poke2"
          class="btn-grad"
        >
          Start !
        </button>
      </div>
    </div>
  </div>
</div>
