<div class="container">
  <div class="card text-white bg-dark">
    <div class="card-body row">
      <div class="col">
        <img *ngIf="poke1" [src]="poke1.imgUrl" [alt]="poke1.name" />
      </div>
      <div class="col">
        <img *ngIf="poke2" [src]="poke2.imgUrl" [alt]="poke2.name" />
      </div>
      <div class="col">
        <button
          (click)="gotoBattle()"
          [disabled]="!poke1 || !poke2"
          class="btn-grad"
        >
          Start !
        </button>
      </div>
    </div>
  </div>
</div>
