main {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  min-height: 100vh;
  padding-top: 3px;
}

.top-row {
  padding-top: 4rem;
}

.card {
  position: relative;
}

img {
  margin-bottom: 2rem;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}
.btn-grad {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -15px;
  font-size: 14px;
  padding: 5px 12px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 7px;
  display: block;
  border: none;
  white-space: nowrap;
}
